<main>
  <button dfButton>Solid Button</button>
  <button dfButton appearance="stroked">Stroked Button</button>
  <app-chip [appearance]="'stroked'" [removable]="true">Angular</app-chip>
  <app-chip [appearance]="'solid'" [removable]="true">Svelte</app-chip>
  <app-banner color="secondary" appearance="solid">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur,
      facere.
    </p>
  </app-banner>
  <app-banner color="primary" appearance="stroked">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur,
      facere.
    </p>
  </app-banner>
</main>
