<main>
  <button canColor canDisable canAppearance dfButton>Solid Button</button>
  <button canColor canDisable canAppearance dfButton appearance="stroked">
    Stroked Button
  </button>
  <app-chip canColor canDisable canAppearance [appearance]="'stroked'"
    >Angular</app-chip
  >
  <app-chip
    canColor
    canDisable
    canAppearance
    [appearance]="'solid'"
    [removable]="true"
    >Svelte</app-chip
  >
  <app-banner canColor canAppearance color="secondary" appearance="solid">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur,
      facere.
    </p>
  </app-banner>
  <app-banner canColor canAppearance color="primary" appearance="stroked">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur,
      facere.
    </p>
  </app-banner>
</main>
