/* You can add global styles to this file, and also import other style files */
.df-primary {
  --bg-color: #4378db;
  --text-color: #faf0e6;
}
.df-secondary {
  --bg-color: rgb(249, 186, 11);
  --text-color: #333;
}
