:host {
  display: block;
  padding: 5px 20px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: solid 2px;
  box-shadow: #00000029 0px 2px 4px 3px;

  &.df-solid {
    background-color: var(--bg-color);
    border-color: var(--bg-color);
    color: var(--text-color);
  }
  &.df-stroked {
    background-color: transparent;
    border-color: var(--bg-color);
    color: var(--bg-color);
  }
}
